:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --licorice: #171219ff;
  --midnight-green: #225560ff;
  --icterine: #edf060ff;
  --pumpkin: #f0803cff;
  --dark-purple: #310d20ff;
  --white: #f0e2c9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
}
